.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.banner {
  width: 100%;
  margin-bottom: -.4%;
}

.login-panel {
  color: white;
  position: fixed;
  right: 0;
  margin: 1pc;
  height: 5%;
  width: 20%;
}

.register-link {
  text-align: end;
}

.navbar {
  height: 5%;
  margin: -0%;
  background: yellow;
}

.navbar-item {
  width: 20%;
  height: 2pc;
  display: inline-block;
}

#popular-hunts  {
  width: 30%;
  margin-top: 0%;
  background: green;
  display: inline-block;

}

.popular-hunts-card {
  margin: 1pc;
  align-items: center;
  overflow: auto;
  flex-direction: column;
  background: bisque;
}

.popular-hunts-card-image {
  flex: 0 auto;
  float: right;
  position: absolute;
}

.popular-hunts-card-text {
  display: inline-block;
}

#news {
  width: 70%;
  margin-top: 0%;
  background: red;
  display: inline-block;
  vertical-align: top;
}

#register-login-page{
  background: #08081A;
}

#footer {
  background: darkblue;
  margin-bottom: 0%;
}

